.DS_Store
.ipynb_checkpoints/
.pytest_cache/
.vscode/
__pycache__/
build/
dist/
test/__pycache__/
nexport/__pycache__/
nexport/nexport.egg-info/
*.csv
*.ipynb
*.json
*.pyc
*.txt
*.xml
model.csv
model.json
model.txt
test.py
weights_and_biases.csv
weights_and_biases.json
weights_and_biases.txt
weights_and_biases.xml
